---
layout: default
---

<article class="post-container post-container--single" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">
    <div class="post-meta" style="font-size:.8em">
      <span id="busuanzi_container_site_uv">Total Visits: <span id="busuanzi_value_site_uv">
    </div>
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <section class="post">
    {{ content }}
    <hr>
  </section>
</article>


<!--
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
-->
<!-- OneV's Den -->
<!--
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-3324997515191619"
     data-ad-slot="9170309685"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
-->
